/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

/dev_tools/
/venv/

# Examples built binaries
/examples/h3_client
/examples/h3_server
/examples/h3_server_routed
/examples/http3_client
/examples/http3_server
/examples/debug_server

# Keys & Certificates
cert.pem
key.pem
*.log
benchmark/crystal_server
benchmark/go_server
benchmark/results/
benchmark/*_bench.log
